<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="http://www.springframework.org/schema/beans

http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="com.fastrepair"/>
    <aop:aspectj-autoproxy/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"><!--处理占位符-->
        <property name="locations" value="classpath:jdbc.properties"/>
    </bean>

    <bean id="dataSource" destroy-method="close"
          class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>


    <!--   <bean name="userDAO" class="com.tage.registration.dao.impl.UserDaoImpl">
           <property name="hibernateTemplate" ref="hibernateTemplate"/>
       </bean>

       <bean name="userManager" class="com.tage.registration.service.impl.UserManagerImpl">
           <property name="userDao" ref="userDAO"/>
       </bean>
   -->
    <bean name="staffManager" class="com.fastrepair.service.StaffManager">
        <property name="staffDao" ref="staffDao"/>
    </bean>

    <bean name="staffDao" class="com.fastrepair.dao.impl.StaffDaoImpl">
    </bean>


    <bean name="companyDao" class="com.fastrepair.dao.impl.CompanyDaoImpl">
    </bean>


    <bean name="companyManager" class="com.fastrepair.service.CompanyManager">
        <property name="companyDao" ref="companyDao"/>
    </bean>
    <bean name="departmentDao" class="com.fastrepair.dao.impl.DepartmentDaoImpl">
    </bean>


    <bean name="departmentManager" class="com.fastrepair.service.DepartmentManager">
        <property name="departmentDao" ref="departmentDao"/>
    </bean>


    <bean name="expensiveToolDao" class="com.fastrepair.dao.impl.ExpensiveToolDaoImpl">
    </bean>


    <bean name="expensiveToolManager" class="com.fastrepair.service.ExpensiveToolManager">
        <property name="expensiveToolDao" ref="expensiveToolDao"/>
    </bean>
    <bean name="inexpensiveToolDao" class="com.fastrepair.dao.impl.InexpensiveToolDaoImpl">
    </bean>


    <bean name="inexpensiveToolManager" class="com.fastrepair.service.InexpensiveToolManager">
        <property name="inexpensiveToolDao" ref="inexpensiveToolDao"/>
    </bean>
    <bean name="toolDao" class="com.fastrepair.dao.impl.ToolDaoImpl"></bean>


    <bean name="toolManager" class="com.fastrepair.service.ToolManager">
        <property name="toolDao" ref="toolDao"/>
    </bean>

    <bean name="employeeDao" class="com.fastrepair.dao.impl.EmployeeDaoImpl"/>

    <bean name="employeeManager" class="com.fastrepair.service.EmployeeManager">
        <property name="employeeDao" ref="employeeDao"/>
    </bean>


    <bean name="recorderManager" class="com.fastrepair.service.RecorderManager">
        <property name="recorderDao" ref="recorderDao"/>
    </bean>
    <bean name="recorderDao" class="com.fastrepair.dao.impl.RecorderDaoImpl"/>





    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan">    <!-- hibernate map-->
            <list>
                <value>com.fastrepair.model</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>


    <bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>






    <aop:config>

        <aop:pointcut id="businessService"
                      expression="execution(public * com.fastrepair.service.*.*(..))"></aop:pointcut>
        <aop:advisor pointcut-ref="businessService" advice-ref="txAdvice"/>

    </aop:config>

    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="exists" read-only="true"/>
            <tx:method name="add*" propagation="REQUIRED"/>
            <tx:method name="delete*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"/>
            <tx:method name="*" propagation="REQUIRED"/>

        </tx:attributes>
    </tx:advice>
</beans>

